<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= __('admin')%> | <%= HOST %></title>
</head>
<body>
<% include widgets/header.ejs %>
<div class="container">
    <div class="row justify-content-center">
        <div id="admin">
        </div>
    </div>
</div>
<% include widgets/footer.ejs %>
</body>
</html>