<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <title><%= __('Report') %> | <%= HOST %></title>
    </head>
</head>
<body>
<% include widgets/header.ejs %>
<div class="container">
    <div class="content text-center">
        <div class="fine-wrapper text-left">
            <div class="row justify-content-center">
                    <div data-token="<%= token %>" id="report">
                    </div>
            </div>
        </div>
    </div>
</div>
<% include widgets/footer.ejs %>
</body>
</html>