@import "../constants";

.bell-container {
  user-select: none;
  .count {
    pointer-events: none;
    position: absolute;
    background-color: #dc3545;
    border-radius: 50%;
    width: 26px;
    z-index: 2;
    text-align: center;
    color: #fff;
    font-weight: bolder;
    height: 26px;
    font-size: 12px;
    line-height: 26px;
    bottom: -5px;
    left: -5px;
    .loader-second {
      width: 30px!important;
      height: 30px!important;
      left: -2.5px;
      position: absolute;
      top: -1.5px;
    }
  }

  &:hover {
    background-color: $app-second-blue;
    .bell {
        background-color: #fff;
    }
  }
  .bell {
    transform: rotate(-25deg);
    pointer-events: none;
  }

  padding: 3px;
  border: 1px solid $app-second-blue;
  border-radius: 0.25rem;
  position: relative;
}