$app-grey: #68767e;
$app-grey-darker: #4c565e;
$app-grey-second: #949798;
$app-green: #1bc98e;
$app-green-darker: #1bb08e;
$app-white: #f8f9fa;
$app-blue: #007bff;
$app-second-blue: #0abcff;
$app-second-blue-shaded: #008cc0;
$app-bg-blue: #252831;
$app-bg-black: #1b1c21;
$app-bg-semi-black: #1d1f26;
$app-orange: #fd7e14;
$app-input-shadow: rgba(26, 36, 42, 0.37);

$footer-height: 80px;
$header-height: 56px;
$disabled-color: rgba(148,151,152,0.16078);
$secondary: $app-second-blue;