@import "constants";
$form-width: 250px;


.container {
  .token-for-enter {
  }

  .loader {
    position: absolute;
    top: -30px;
    z-index: 4;
    left: -15px;
  }
  a {
    color: $app-second-blue!important;
  }

  .login {
    max-width: $form-width;

  }
  .dont-have-account {
    max-width: $form-width;
    margin: 0 auto;
  }
}
